.paragrafo1{ /*primeiro paragrafo, que está em verde escuro e letras brancas */
	line-height: 3em;
	font-family: 'Fjalla One', sans-serif;
	color: #ffffff !important;
	font-size: 22px;	
	padding: 2% 5%;
	text-align: justify;
	background-color: #00B229;
}
.h1-acolhimento{ /*cabeçalho onde está escrito REGRAS DE ACOLHIMENTO*/
	height: 1.5em;
	text-align: center;
	color: #ffffff;
	background-color: #00B229;

}
.main-acolhimento{ /*pega o primeiro container com o paragrafo e a imagem, toda a parte em verde claro */
	background-color: #7acc7f;
}
.img-acolhimento{ /*cofiguração apenas da imagem*/
	width: 100%;
	height: 100%;
}
.fig-acolhimento{ /*configuração do figure, o container da imagem*/
	float: right;
}
.spam-acolhimento{ /*primeiro span da parte em vermelho, onde está escrito quais são as regras... está em vermelho escuro letra branca */
	display: block;
	text-align: center;
	height: 3em;
	text-align: center;
	color: #ffffff;
	background-color: #E21914;
	font-size: 45px;
}

.list-group{ /*ul*/
	margin-top: 3%;
}


.lista-acolhimento{ /*toda a parte em vermelho escuro onde estão os dois spam, o ul e o botao*/
	background:#ef4343;
	color: #ffffff;
}
.lista-acolhimento .list-group-item{ /*todos os li*/
	background-color: #E21914;
	color: #fff;
	font-family: 'Fjalla One', sans-serif;
	font-size: 25px;
}
.span2-acolhimento{ /*segundo span em fundo vermelho escuro acima do botão*/
	color: #ffffff;
	background-color: #E21914;
	font-size: 30px;
	text-align: center;
	margin: 5% 0% !important;
	display: block;
	text-align: center;
	width: 100%;
	height: 3.5em;
}

.btn-acolhimento{ /*paragrado do botao*/
	text-align: center;
}

.btn-danger{ /*link do botao*/
	background-color: #E21914;
}