/*
  Nome: CSS PÁGINA CONTATO
  Data: 03/03/2018
  Descrição:  Versão inicial. 
  Versão: 0.1
  Autor: Anne, Gregorio, Luan e Tamires
  Autor URI:  
*/

/*------------------------------------------------
Header
-------------------------------------------------*/
  :root {
    --jumbotron-padding-y: 25rem;
  }

  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 1.05);
    }
  }

  .jumbotron .container {
    max-width: 60rem;
  }

  .bg-img {
    background: url('../img/contato/contato.png') 50% 50% no-repeat; 
    background-size:cover;
    width: 100%;
    height: 30em;
    display: table;
  }

 /*-------------------------
  Form
 ---------------------------*/
.contato .formulario-contato{
	background-color: #efefef;
}
 /*-------------------------
  SEÇÃO ENDEREÇO
 ---------------------------*/
.contato .endereco .container .row{
	border-bottom: solid 3px silver;
	border-top: solid 3px silver;
}
 /*-------------------------
  FAQ
 ---------------------------*/
.contato .FAQ{
	margin-top: 5px;
	background-color: rgb(62,185,255);
}
.contato .FAQ .card{
	border-color: rgb(62,185,255);
}
.contato .FAQ .card-header{
	background-color: #2d88bc;
}
.contato .card .btn {
	white-space: unset;
}