@charset "UTF-8";

/*
	Nome: Estilo site Lar São Vicente de Paula
	Data: 24/01/2017
	Descrição:  Versão inicial. 
	Versão: 0.1
	Autor: Anne, Gregorio, Luan e Tamires
	Autor URI:  
*/

/*-----------------------
	PADRÃO FONTES
------------------------*/
	@font-face {
	    font-family: Goblin One;
	    src: url(../fonts/GoblinOne.ttf);
	}
	h1{
		font-family: 'Goblin One', cursive;
		font-size: 1.8rem;
	}
	.p-header{		
		font-size: 1.25rem;
		line-height: 40px;
	}
	.shadow{
		text-shadow: 1px 2px 5px #000;		
	}

/*--------------------------
	SLIDE PRINCIPAL
---------------------------*/
	header{
		margin-top: 56px;
	}
	.carousel.slide .carousel-inner .carousel-item img, .container-fluid .img-fluid{
		height: 200px;
		max-width: 100%;
		width: 100%;
	}
	.carousel-item .container{
		display: none;
	}
	.patrocinador{
		margin: 50px 0;
	}
	.img-destaque{
		background: url("../img/imagem-sobre-amor.jpg") 70% 70% no-repeat;
		background-size: cover;		
	}
	.servicos, .servicos .row.text-center{
		margin: 2% 0;
	}
	.servicos picture{
	    background-color: yellow; 
	    border-radius: 50%;
	    display: inline-block;
	    width: 2em;
	    height: 2em;
	    line-height: 2em;
	    font-size: 4em;
	    margin-top: 5%;
	}
	.servicos picture img{
	    width: 65%;
	    margin-bottom: 15%;
	}

/*-----------------------------------------
FOOTER
-------------------------------------------*/
	.mainfooter{
	  background-color: #343a40;
	}
	.mainfooter a{
	  width: 100%;
	  text-align: center;
	}
	.mainfooter .fa-facebook-square{
	  margin-left: 5%;
	  color: white;
	}
	.mainfooter .fa-facebook-square:hover{
	  transition:all 0.8s ease-in-out;
	  transform:rotate(360deg);
	}
	.fa-map-marker{
	  color: red;
	}
	.fa-phone{
	  color: lime;
	}
	.fa-envelope{
	  color: silver;
	}
	.fas, .far{
	  margin-right: 2%;
	}
	.bottomfooter{
	  background-color: whitesmoke;
	}


/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap

 Small devices (landscape phones, 576px and up)*/ 
@media (min-width: 576px) {
	.carousel.slide .carousel-inner .carousel-item img, .container-fluid .img-fluid{
		height: 300px;
	}
}

/* Medium devices (tablets, 768px and up)*/ 
@media (min-width: 768px) {
	.carousel.slide .carousel-inner .carousel-item img, .container-fluid .img-fluid{
		height: 400px;
	}
	h1{
		font-size: 2.5rem;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.carousel.slide .carousel-inner .carousel-item img, .container-fluid .img-fluid{
		height: 500px;
	}
	.carousel-item .container{
		display: block;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/ 
@media (min-width: 1200px) {
	.carousel.slide .carousel-inner .carousel-item img, .container-fluid .img-fluid{
		height: 600px;
	}
}



/*Contato*/
.contato .container-fluid.img{
	background-color: rgb(62,185,255);
}
.contato .endereco .container .row{
	border-bottom: solid 3px silver;
	border-top: solid 3px silver;
}
.contato .FAQ{
	margin-top: 5px;
	background-color: rgb(62,185,255);
}
.contato .FAQ .card{
	border-color: rgb(62,185,255);
}
.contato .FAQ .card-header{
	background-color: #2d88bc;
}
.contato .formulario-contato{
	background-color: #efefef;
}
.endereco .container address, .endereco .container h6{
	margin-top: 1rem;
}
.contato .card .btn {
	white-space: unset;
}