@charset "UTF-8";

/*
	Nome: Estilo site Lar São Vicente de Paula
	Data: 16/02/2017
	Descrição:  Versão inicial. 
	Versão: 0.1
	Autor: Anne, Gregorio, Luan e Tamires
	Autor URI:  
*/

/*------------------------------------------------
Header
-------------------------------------------------*/
  :root {
    --jumbotron-padding-y: 6rem;
  }

  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 1.7);
    }
  }

  .jumbotron .container {
    max-width: 60rem;
  }

  .bg-img {
    background: url('../img/leis/leis.jpg') 50% 50% no-repeat; 
    background-size:cover;
    width: 100%;
    height: 30em;
    display: table;
  }
  p .btn{
    font-size: 1rem;
    box-shadow: 1px 1px 5px #000;
    font-weight: bold;
  }
 /*-------------------------
  FIM HEADER
 ---------------------------*/

	/*Ajuste na imagem da tela de parceiro*/

.card {
	display: block;
}
.card img {
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}
.btn-center {
	display: block;
	margin: 0 auto; 
}
.card-text-center {
	text-align: center;
}