@charset "UTF-8";

/*
	Nome: Estilo site Lar São Vicente de Paula
	Data: 16/02/2017
	Descrição:  Versão inicial. 
	Versão: 0.1
	Autor: Anne, Gregorio, Luan e Tamires
	Autor URI:  
*/


:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

	/*Ajuste na imagem da tela de parceiro*/

.card {
	display: block;
}
.card img {
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}
.btn-center {
	display: block;
	margin: 0 auto; 
}
.card-text-center {
	text-align: center;
}

.text-center{
  background:#fff url('../img/parceiros/parceiros.jpg'); 
  width: 100%;
  height: 30em;
  background-repeat: no-repeat; 
  background-size:cover;
  background-position: 70% 70%;
 }